# CMake
CMakeUserPresets.json
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps/

# Visual Studio
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.slnx
*.suo
*.user
*.idb
*.pdb
*.ipch
*.aps
*.opt
*.ncb
*.plg
*.tlog
*.log
*.lastbuildstate
*.unsuccessfulbuild
*.sdf
*.opensdf
*.opendb
*.obj
moc_*.cpp
*.ilk
.vs/
out/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
